## input and output methods:
- reading the data or information from the user---***input()***
- displaying the information or data to the user---***print()***
    - static input
    - dynamic input

In [1]:
a=10
b=20
print(a)
print(b)

10
20

In [2]:
a=input()
a

mahesh

'mahesh'

In [3]:
a=input()
a

234

'234'

In [5]:
a=input("enter user value=")
a

enter user value=123

'123'

In [1]:
a=float(input("enter the value="))
a

enter the value=345

345.0

In [3]:
a=input("enter the vale=")
print(a)

enter the vale=345
345

In [4]:
a=20
b=30
c=40
print(a,b,c)

20 30 40

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
a=20
b=30
c=40
print(a,b,c,sep=",",end="%")

20,30,40%

In [9]:
a=20
b=30
c=40
print(a,b,c,sep=",",end="\n")
print(c)

20,30,40
40

In [16]:
# generate the 3 values from the user that values seperated with $ and end with %
a=input("enter a value:")
b=input("enter b value:")
c=input("enter c value:")
print(a,b,c,sep="$",end="%\n")
print(a,b,c)

enter a value:12
enter b value:23
enter c value:34
12$23$34%
12 23 34

### operators
- Arthimatic operators(+,-,*,**,/,//,%)
    - output for the normal division is quotient
    - output for the int division  or float division is integer part of the quotient
    - output for the modulo division is remainder
- Assignment operator(=)
- comparision operator(>,<,<=,>=,==)
- logical operator(and,or ,not)
- bitwise operator(&,|,^)
- identity operator(is(==),isnot(!=))
- membership operator(in, notin)

# Arthimatic operators:

In [20]:
a=20
b=34
print("addition",a+b)
print("substraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 54
substraction -14
multiplication 680
power 171798691840000000000000000000000000000000000
division 0.5882352941176471
int division or floor division 0
modulo division 20

# Assignment operator:
- it represented with =
- left side value of the operator(=) is called as a variable
- right side value of the variable(=) is called as a value

In [21]:
a=30
b=40
print(a)
print(b)

30
40

# comparation operator

In [22]:
2>6

False

In [23]:
2<6

True

In [24]:
2>=7

False

In [25]:
2<=7

True

In [26]:
if 2>9 and 2<=6:
    print("print true or false")
else:
    print("mahesh")

mahesh

# logical operators
- and ,or, not
- if all the inputs are true then output is true
- if any one input is true then output is true
- opposite operation for given one

In [27]:
2<5 and 3>6

False

In [28]:
2>5 and 3<6

False

In [29]:
3<9 and 4>0

True

In [30]:
3<9 or 5<2

True

In [31]:
5>9 or 8<3

False

In [32]:
a=100
not a

False

# Bitwise operators:
-

In [34]:
2 & 3
# 2- 0 0 1 0
# 3- 0 0 1 1
#-------------
 #    0 0 1 0 = 2
#------------

2

In [35]:
3|4
# 3- 0 0 1 1

7

In [36]:
3 ^ 4

7

In [37]:
2<<3

16

In [38]:
2>>3

0

# identity operator

In [39]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\efcodd\AppData\Local\Temp/ipykernel_2576/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\efcodd\AppData\Local\Temp/ipykernel_2576/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [40]:
a==100 and a!=100

False

# membership operator

In [41]:
s=[1,3,2,4,5,6,7,8]
4 in s

True

In [42]:
10 not in s

True

In [43]:
2 not in s

False

In [46]:
a=45
a+=1
a

46

In [48]:
a=45
# a+=1 ------>a=a+1

In [49]:
a=45
a/=1
a

45.0

# flow control
- conditional statments(if,else,elif,nestedif)
- loops(for,while)
- break,Return

In [ ]:
# c- language
if(condition){
    print(a)
}

### conditional statement

In [ ]:
# simple if
if(condition):
    True statement block
    statement2
    statement3
    statemenet4
    ----------
    statement n

In [ ]:
# if-else
if(condition):
    True statement block
    statement2
    statement3
    statemenet4
    ----------
    statement n
else:
    False block statement
    statement 2
    ----------
    statement n

In [50]:
if(0<7):
    print("given number is positive")

given number is positive

In [51]:
if 2<3:
    print("True")
else:
    print("False")

True

In [52]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print(" odd number")

enter the number23
 odd number

In [55]:
# given numbet is zero or positive or negative
n=int(input("enter n value"))
if(n==0):
    print(" given number is zero")
elif(n>0):
    print("posituve")
else:
    print("negative")

enter n value-1
negative

In [60]:
# number is dividible by 2 but not 10
n=int(input("enter n value"))
if(n%2==0 and n%10!=0):
    print("number is divisible by 2 but not 10")
else:
    print("invalid")

enter n value3
invalid

## Range
- syntax for the range is  range(start,endvalue,step value)
- starting vlue is the inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
# 20,25,30,35,40
range(50)
# cosider as end value
# reverse print
range(10,1,-1)

In [61]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [62]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [63]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

# loops:
- for,while
- for loop::: A fore loop in python is a control flow statement that is used to repeaditely exectue a group of statements as long as the condition is satisfied such atype of statement is alse know as an iterative statement therefore ,a for loop is an ittrative statement

In [ ]:
Syntax:::
            for iter in iterable:# range predefined function in the position of iterable
                staement1
                statement2
                statement3

In [67]:
for i  in range(5):
    print(i)

0
1
2
3
4

In [68]:
for i  in range(5):
    print(i,end=" ")

0 1 2 3 4

In [71]:
for i  in range(0,10,2):
    print(i,end=",")

0,2,4,6,8,

In [70]:
for i  in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [73]:
# print the evens numbers in range of 0 to 100
# and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
print("\n even number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even number count: 51

In [75]:
c=0
for i in range(0,101):
    if i%2==0:
        c=c+1
        print(i,end=" ")
print("\n even number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even number count: 51

In [82]:
# print leap years from the range of 2000 to 2020,print year
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%400==0 or i%100!=0 and  i%4==0):
        c=c+1
        print(i,end=" ")
print("\n year count :",c)

1900
2000
1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000
 year count : 25

In [79]:
# print leap years from the range of 2000 to 2020,print year
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if i%4==0:
        c=c+1
        print(i,end=" ")
print("\n year count :",c)

1900
2000
1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000
 year count : 26

In [84]:
n=5
for i in range(1,11,1):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [98]:
# factors of 5
n=int(input())
for i in range (1,n+1):
    if(n%i==0):
        print(i ,end=" ")

10
1 2 5 10

In [100]:
# I/P=abc
# 97+98+99=294
# o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

mahesh
630

In [102]:
# prime number programm
n=int(input())
c=0
for i in range (1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print(" prime")
else:
    print(" not prime")

1
 not prime

In [2]:
# 0 to 10
# even numbers
# odd numbes
n=int(input())
m=int(input())
print("even numbers are :",end=" ")
for i in range (n,m+1):
    if(i%2==0):
            print(i,end=" ")
print("\n odd numbers are :",end=" ")
for i in range (n,m+1):
    if(i%2!=0):
        print(i,end=" ")

1
10
even numbers are : 2 4 6 8 10
 odd numbers are : 1 3 5 7 9