## while
- it execute block or set of instructions  until the condition is false
- while we dont the range
- execute faster then the for loop
- user incrementing

In [ ]:
# while syntax
initialization 
while condition:
    statments
    inc/dec

In [1]:
n=1
while n<=5:
    print("vasvi college")
    n=n+1

vasvi college
vasvi college
vasvi college
vasvi college
vasvi college

In [2]:
# 10 to 1 numbers
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [4]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): # 1234!=0 # 123!=0 # 12!=0 #1!=0
    c=c+1    #1234%10 123%10
    s=s//10
print("\n Digit couut:",c)

12343

 Digit couut: 5

In [3]:
# check the given is pallendrome
# 121--->121
# mom--->mom
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print(" not paliendrome")

121
palindrome

In [ ]:
#  synyax::Nested for loop
for itert in range(start,end,step):
    for item in range(start,end,step):
        statment1
        statmentn

In [ ]:
# matrix format
- rows,columns
- 2 dimensions
  1 2 3
  1 2 3

In [4]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [7]:
for row in range(1,6):
    for column in range(1,6):
        print("*",end=" ")
    print()# new line

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [18]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [17]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line 
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
# 1 to 10
# prime numbers:2,3,5,7
st=int(input())
ed=int(input())
for num in range(st,ed+1):# num=1 num=2 num=3
    c=0
    for var in range(1,num+1):
        if(num%var==0):
            c=c+1
    if(c==2):
        print(num,end=" ")

1
10
2 3 5 7

In [15]:
n=int(input())
s=int(input())
for i in range(n,s+1):
    for j in range(1,11):
        print(i,"*",j ,"=",i*j)

1
5
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# syntax
initialization
while condition:
    statements
    inc/dec
    while condition:
        statements
        inc/dec

In [13]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
        print()
        i+=1

1 * 1 = 1

2 * 2 = 4

3 * 3 = 9

4 * 4 = 16

5 * 5 = 25

6 * 6 = 36

7 * 7 = 49

8 * 8 = 64

9 * 9 = 81

10 * 10 = 100

### jump statments
- we called as unconditional jumps
- Break
- Continue
- pass

## Break
- Terminates the current loop statment
- Break is a keyword

In [16]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [17]:
for i in "python":
    if i=='h':
        continue
    print(i)

p
y
t
o
n

In [3]:
i=1
while(i<=10):
        print(i)
        i+=1
        if(i==6):
            break

1
2
3
4
5

## continue
- it skips only current iteration and continue to the next iteration
- continue is also a keyword

In [7]:
for i in range(10):
    if i==6:
        continue
        print("vasavi")
    print(i,end=" ")

0 1 2 3 4 5 7 8 9

In [6]:
# print odd numbers using even number condiotion 
for i in range(10):
    if i%2==0:
        continue
        print("vasavi")
    print(i,end=" ")

1 3 5 7 9

# pass
- it is a keyword
- when we need the condition scientifically correct need to change another operation
- it is a null operation
- pass statment we need to create empty classes also

In [10]:
s="python"
for i in s:
    if(i=='h'):
        pass
       # print("pass executed")
    print(i,end=" ")

p y t h o n

# String
- string is a group of characters
- string is derioved datatype and immutable
- all strings rwturn a new value

In [22]:
a="vasavi college"
print(type(a))

<class 'str'>

In [13]:
print(len(a))

14

In [24]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

v
[' ', 'a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [19]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
#print(s*s1)

pythonworkshop
python workshop

In [41]:
# slicing Syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-3])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works
h